# Auto detect text files and perform LF normalization
* text=auto

# Ignore C++ and CMake files from language statistics
*.cpp linguist-vendored
*.h linguist-vendored
CMakeLists.txt linguist-vendored
*.cmake linguist-vendored

# Force Dart to be the main language
*.dart linguist-language=Dart

